<include file="./APP/Admin/View/Common/Public_header_v1.html"/>
<style type="text/css">
    .form-horizontal{width:850px;}
    .form-horizontal>.form-group{border-top: 1px solid #ccc;padding-top:20px;margin-left:15px;margin-right:0px;}
    .form-horizontal>.form-group:first-child{border-top:none;}
    .form-group>.col-sm-2{width: 110px;}
    .form-group>.col-sm-10{width: 700px;}
    select.form-control{width: auto !important;}
</style>
<ol class="breadcrumb">
    <li>{:C('CONTROL_MENU')}</li>
    <li>讲师管理</li>
    <li class="active"><a href="{:U('Admin/Teacher/teaList')}"> 讲师列表</a></li>
    <li>添加讲师</li>
</ol>
<ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="javascript:void(0);">添加讲师</a></li>
</ul>
<form action="{:U('Admin/Teacher/teaAdd')}" class="form-horizontal" method="post">
    <div class="form-group">
        <label for="tea_user" class="col-sm-2 control-label">注册账号</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" value="" id="tea_user" name="tea_user" datatype="s6-11" nullmsg="请输入注册账号" errormsg="账号长度为6-11个字符" />
            <div class="Validform_checktip">账号长度为6-11个字符</div>
        </div>
    </div>
    <div class="form-group">
        <label for="tea_name" class="col-sm-2 control-label">讲师姓名</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" id="tea_name" autocomplete="off" name="tea_name" datatype="s" nullmsg="请输入讲师姓名" errormsg="请填写正确的讲师姓名"/>
            <div for="tea_name" class="Validform_checktip">请输入讲师姓名</div>
        </div>
    </div>
    <div class="form-group">
        <label for="tea_password" class="col-sm-2 control-label">登录密码</label>
        <div class="col-sm-10">
        <input class="form-control" type="password" value="" id="tea_password" name="tea_password" datatype="*6-16" nullmsg="请输入登录密码！" errormsg="密码长度6~16位" />
            <div class="Validform_checktip">密码长度为6~16位</div>
        </div>
    </div>
    <div class="form-group">
        <label for="tea_repassword" class="col-sm-2 control-label">确认密码</label>
        <div class="col-sm-10">
            <input class="form-control" type="password" value="" id="tea_repassword" name="tea_repassword" recheck="tea_password" datatype="*6-16" nullmsg="请输入登录密码！" errormsg="2次输入的密码不一致" />
            <div class="Validform_checktip"></div>
        </div>
    </div>
    <div class="form-group">
            <label class="col-sm-2 control-label">讲师描述</label>
            <div class="col-sm-10">
                <textarea id="tea_des" name="tea_des" class="form-control" datatype="*1-50" ignore="ignore" nullmsg="请填写讲师描述内容！" errormsg="描述内容长度不能超过50个字"></textarea>
                <div class="Validform_checktip">请输入50个字以内的描述</div>
            </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">添加讲师</button>
        </div>
    </div>
</form>
<link href="__PUBLIC__/static/Validform/css/style.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="__PUBLIC__/static/Validform/Validform_v5.3.2_min.js"></script>

<script type="text/javascript" language="javascript">
    $(function(){
        $(".form-horizontal").Validform({
            tiptype:function(msg,o,cssctl){
                if(!o.obj.is("form")){
                    var objtip=o.obj.nextAll(".Validform_checktip");
                    cssctl(objtip,o.type);
                    objtip.text(msg);
                }
            },
            beforeCheck:function(curform){
                if(!confirm('确定提交本次操作吗？'))
                {
                    return false;
                }
            }
        });

    });
</script>
<include file="./APP/Admin/View/Common/Public_footer_v1.html"/>
