<include file="./APP/Admin/View/Common/Public_header_v1.html"/>
<style type="text/css">
    .form-horizontal{width:850px;}
    .form-horizontal>.form-group{border-top: 1px solid #ccc;padding-top:20px;margin-left:15px;margin-right:0px;}
    .form-horizontal>.form-group:first-child{border-top:none;}
    .form-group>.col-sm-2{width: 110px;}
    .form-group>.col-sm-10{width: 700px;}
    select.form-control{width: auto !important;}
</style>
<ol class="breadcrumb">
    <li>{:C('CONTROL_MENU')}</li>
    <li>系统账户</li>
    <li><a href="{:U('Admin/System/userList')}"> 后台用户列表</a></li>
    <li class="active">账户编辑</li>
</ol>
<ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="javascript:void(0);">账户编辑</a></li>
</ul>


    <form action="{:U('Admin/System/userEdit?user_id='.$info['user_id'])}" class="form-horizontal" method="post">
        <div class="form-group">
            <label class="col-sm-2 control-label">ID编号</label>
            <div class="col-sm-10">
                <input class="form-control" value="{$info.user_id}" readonly="readonly">
            </div>
        </div>
        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">登录帐号</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" value="{$info.user_name}" name="username" id="username" datatype="s5-12" nullmsg="请输入规则简述！" errormsg="5~12位字母、数字、下划线组成的字符" />
                <div class="Validform_checktip">5~12位字母、数字、下划线组成的字符</div>
            </div>
        </div>
        <div class="form-group">
            <label for="groupID" class="col-sm-2 control-label">所属角色</label>
            <div class="col-sm-10">
                <select class="form-control" name="groupId" id="groupID">
                    <volist name="data" id="vo">
                        <option value="{$vo['id']}" <eq name="vo.id" value="$info['group_id']">selected="selected"</eq>>{$vo.title}</option>
                    </volist>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="remark" class="col-sm-2 control-label">备 注</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" value="{$info.remark}" id="remark" name="remark" datatype="s2-20" nullmsg="填写备注内容！" errormsg="20字以内的说明" />
                <div class="Validform_checktip">20字以内的说明</div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">保存发布</button>
            </div>
        </div>
    </form>

<link href="__PUBLIC__/static/Validform/css/style.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="__PUBLIC__/static/Validform/Validform_v5.3.2_min.js"></script>
<script type="text/javascript" language="javascript">
    $(function(){
        $(".form-horizontal").Validform({
            tiptype:function(msg,o,cssctl){
                if(!o.obj.is("form")){
                    var objtip=o.obj.next(".Validform_checktip");
                    cssctl(objtip,o.type);
                    objtip.text(msg);
                }
            },
            beforeCheck:function(curform){
                if(!confirm('确定提交本次操作吗？'))
                {
                    return false;
                }
            }
        });
    });
</script>
<include file="./APP/Admin/View/Common/Public_footer_v1.html"/>
