<include file="./APP/Admin/View/Common/Public_header_v1.html"/>
<style type="text/css">
    .form-horizontal{width:850px;}
    .form-horizontal>.form-group{border-top: 1px solid #ccc;padding-top:20px;margin-left:15px;margin-right:0px;}
    .form-horizontal>.form-group:first-child{border-top:none;}
    .form-group>.col-sm-2{width: 110px;}
    .form-group>.col-sm-10{width: 700px;}
    select.form-control{width: auto !important;}
</style>
<ol class="breadcrumb">
    <li>{:C('CONTROL_MENU')}</li>
    <li>视频设置</li>
    <li class="active"><a href="{:U('Admin/Video/videoTypeList')}"> 视频类型列表</a></li>
    <li>视频类型编辑</li>
</ol>
<ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="javascript:void(0);">视频类型编辑</a></li>
</ul>
<form action="{:U('Admin/Video/videoTypeEdit?class_id='.$classType['class_id'])}" class="form-horizontal" method="post">
    <div class="form-group">
        <label for="class_name" class="col-sm-2 control-label">类型名称</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" value="{$classType.class_name}" id="class_name" name="class_name" datatype="*" nullmsg="请输入视频类型名称！" errormsg="由中文、字母、数字、下划线、空格组成！！" />
            <div class="Validform_checktip">由中文、字母、数字、下划线、空格组成！！</div>
        </div>
    </div>
    <div class="form-group">
        <label for="father_id" class="col-sm-2 control-label">所属父类型</label>
        <div class="col-sm-10">
            <select name="father_id" id="father_id" class="form-control">
                <option value="">------</option>
                <volist name="typeList" id="vo">
                    <option value="{$vo['class_id']}"<eq name="vo.class_id" value="$classType['father_id']">selected="selected"</eq>>{$vo.class_name}</option>
                </volist>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">保存编辑</button>
        </div>
    </div>
</form>
<link href="__PUBLIC__/static/Validform/css/style.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="__PUBLIC__/static/Validform/Validform_v5.3.2_min.js"></script>
<script type="text/javascript" language="javascript">
    $.extend($.Datatype,{
        "z2-4" : /^[\u4E00-\u9FA5\uf900-\ufa2d]{2,4}$/
    });
    $(function(){
        $(".form-horizontal").Validform({
            tiptype:function(msg,o,cssctl){
                if(!o.obj.is("form")){
                    var objtip=o.obj.next(".Validform_checktip");
                    cssctl(objtip,o.type);
                    objtip.text(msg);
                }
            },
            beforeCheck:function(curform){
                if(!confirm('确定提交本次操作吗？'))
                {
                    return false;
                }
            }
        });
    });
</script>
<include file="./APP/Admin/View/Common/Public_footer_v1.html"/>
